* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  background-color: #fffbf6;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  min-height: 100vh;
}

img {
  width: 60rem;
  margin-bottom: 7rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 90px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.label {
  font-size: 22px;
  font-family: "Vend Sans",sans-serif;
  font-weight: bold;
  color: #000000;
  text-align: center;
  line-height: 1.3;
}

a {
   text-decoration: none;
}

.qr-placeholder {
  width: 200px;
  height: 200px;
  background-color: #999999;
  border: .6rem solid rgb(255, 255, 255) ;
}

.qr-placeholder :nth-child(1) {
  border: .6rem solid rgb(100, 73, 20) 
}

.qr-placeholder img {
  width: 20rem;
}